.textebleu {
	color: blue;
	font-size: 20px;
}
.texterouge {
	color: red;
	font-size: 30px;
}
.tableau {
	border-collapse: collapse;
}
.tableau td {
	border: 1px solid black;
	color: green;
	font-size: 15px;
	padding: 8px;
}
.tableau-milieu td {
	color: blue;
}
.entre-tableaux {
	color: red;
}